{% extends 'base.html.twig' %}

{% block title %}Hello, world!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}

{% block body %}
    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Hello, world!</h1>
                <p>Arcella is yet another symfony based content management system.</p>
                <p><a class="btn btn-primary btn-lg" href="https://github.com/nplhse/arcella" role="button">Learn more &raquo;</a></p>
            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Projects</h2>
                    <p>Take a look at the roadmap of the project and what the currently active projects are.</p>
                    <p><a class="btn btn-secondary" href="https://github.com/nplhse/arcella/projects" role="button">View projects &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Issues</h2>
                    <p>Report bugs, share your ideas or take part in the development.</p>
                    <p><a class="btn btn-secondary" href="https://github.com/nplhse/arcella/issues" role="button">View issues &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>How to contribute</h2>
                    <p>Any contribution to Arcella is welcome, take a look at the best ways to do so.</p>
                    <p><a class="btn btn-secondary" href="https://github.com/nplhse/arcella/blob/master/CONTRIBUTING.md" role="button">View details &raquo;</a></p>
                </div>
            </div>

            <hr>

        </div> <!-- /container -->

    </main>
{% endblock %}
